body {
    width: 1330px;
    font-family: 'Nunito';}
a, a:hover, a:active {
    text-decoration: none;
    color: white;}
.row {flex-wrap: wrap;}
input, button, textarea, select {
    width: 240px;
    height: 70px;
    border-width: 2px;
    border-radius: 0px;
    border-color: #E0E0E0;
    resize: none;
    overflow: hidden;
    padding-top: 6px;
    padding-left: 6px;}
::placeholder {
    font-weight: 900;
    font-size: 12px;
    color: black;}
.buttons {
    background: #189B21;
    color: white;
    border-radius: 35px;
    padding-top: 6px;
    height: 40px;
    text-align: center;}
nav {
    padding-top: 10px;
    width: 100%;}
nav img {margin: 20px 0 20px 80px;}
nav img.name {
    margin: 50px 0 0 10px;
    height: 20px;}
nav ul {margin: 48px 0 0 250px;}
nav ul li{
    display: inline-block;
    margin: 0 12px;}
.b {
    font-size: 20px;
    font-weight: 900;}
.log {
    margin: 40px 0 0 80px;
    border-radius: 5px;
    height: 45px;
    width: 130px;
    color: white;
    background-color: #0D4447;}
h1 {
    text-align: center;
    color: #0D4447;}
form p {
    margin: 60px 0 0 -15px;
    width: 46%;}
.con {margin: 0 0 0 130px;}
.con h4 {
    margin: 0 -20px 0 0;
    font-size: 20px;
    width: 80%;}
.con p {margin: 20px 0 0 0;}
.first_name {margin: 30px 20px 20px 15px;}
.last_name {margin: 30px 0px 0px 0px;}
.email {width: 500px;}
.phone {
    width: 500px;
    margin: 15px 0px 15px 0px;}
.send {
    margin: 0 0 0 -15px;
    height: 300px;
    width: 1000px;}
.sub {
    margin: 20px 0 80px -15px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 0px;
    height: 45px;
    width: 130px;
    color: white;
    background-color: #ED6710;}
footer {
    width: 1364px;
    padding: 30px 0px 50px 80px;
    color: white;
    background: #0D4447;}
.hey {width: 30%;}
.hey img.logo {height: 100px;}
.hey img.name {
    margin: 30px 0 0 20px;
    height: 20px;}
.list {width: 30%;}
.list ul li {
    font-weight: 900;
    margin: 0 0 0 70px;
    list-style: none;}
.dee {width: 20%;}
.media .ig {margin: 0 10px 50px 20px;}
img.app {
    padding-left: 0px;
    height: 50px;}



@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 425px) {
    body, nav, .container, div, form, footer {width: 290px;}
    nav .logo {
        height: 40px;
        margin-left: 30px;}
    nav img.name {margin-top: 30px;}
    nav ul, a.btn.b.log {display: none;}
    footer {
        width: 335px;
        padding: 40px;}
    .hey img.name {height: 18px;}
    .dee {width: 100%;}
    .container {margin: 0 10px 0 10px;}
    h1 {
        padding-top: 30px;
        font-size: 20px;}
    form p {
        width: 280px;
        margin: 20px 0 0 0;}
    .last_name {margin: 0 0 15px 15px;}
    .email, .phone {width: 240px;}
    .con {margin: 0 0 0 15px;}
    .send {
        width: 300px;
        margin: 20px 0 0 -15px;}
    
}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 411px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {}
@media screen and (max-width: 320px) {}
   