body {
    width: 1330px;
    font-family: 'Nunito';}
a, a:hover, a:active {
    text-decoration: none;
    color: white;}
.row {flex-wrap: wrap;}
nav {
    padding-top: 10px;
    width: 100%;}
nav img {margin: 20px 0 20px 80px;}
nav img.name {
    margin: 50px 0 0 10px;
    height: 20px;}
nav ul {margin: 48px 0 0 250px;}
nav ul li{
    display: inline-block;
    margin: 0 12px;}
.b {
    color: #ED6710;
    font-size: 20px;
    font-weight: 900;}
.log {
    margin: 40px 0 0 80px;
    border-radius: 5px;
    height: 45px;
    width: 130px;
    color: white;
    background-color: #0D4447;}
h1 {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: #0D4447;}
.big, .small {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;}
.small {width: auto;}
footer {
    width: 1364px;
    padding: 30px 0px 50px 80px;
    color: white;
    background: #0D4447;}
.hey {width: 30%;}
.hey img.logo {height: 100px;}
.hey img.name {
    margin: 30px 0 0 20px;
    height: 20px;}
.list {width: 30%;}
.list ul li {
    font-weight: 900;
    margin: 0 0 0 70px;
    list-style: none;}
.dee {width: 20%;}
.media .ig {margin: 0 10px 50px 20px;}
img.app {
    padding-left: 0px;
    height: 50px;}



@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 425px) {
    body, nav, .container, div, form, footer {width: 300px;}
    nav .logo {
        height: 40px;
        margin-left: 30px;}
    nav img.name {margin-top: 30px;}
    nav ul, a.btn.b.log {display: none;}
    footer {
        width: 335px;
        padding: 40px;}
    .hey img.name {height: 18px;}
    .dee {width: 100%;}
    h1 {
        padding-top: 20px;
        padding-bottom: 30px;
        font-size: 20px;}
    .small {
        padding: 20px 0 30px 0;
        width: 200px;}
}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 411px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {}
@media screen and (max-width: 320px) {}
   