body {
    width: 1330px;
    font-family: 'Nunito';}
a, a:hover, a:active {
    text-decoration: none;
    color: white;}
.row {flex-wrap: wrap;}
nav {
    padding-top: 10px;
    width: 100%;}
nav img {margin: 20px 0 20px 80px;}
nav img.name {
    margin: 50px 0 0 10px;
    height: 20px;}
nav ul {margin: 48px 0 0 250px;}
nav ul li{
    display: inline-block;
    margin: 0 12px;}
.b {
    color: #ED6710;
    font-size: 20px;
    font-weight: 900;}
.log {
    margin: 40px 0 0 80px;
    border-radius: 5px;
    height: 45px;
    width: 130px;
    color: white;
    background-color: #0D4447;}




@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 425px) {}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 411px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {}
@media screen and (max-width: 320px) {}
   